/* ----------------Second Section----------------*/




/* ----------------Third Section----------------*/

.section-third {
  padding-bottom: 120px;
}

.aboutus {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navyblue);
  letter-spacing: 0.02em
}

.aboutus-list {
  display: flex;
  gap: 24px;
}

.aboutus-item {
  width: calc((100% - 48px) / 3);
}



/* ----------------Fourth Section----------------*/



.team {
  padding: 120px 0;
  background-color: var(--cloud);
}

.aboutus-team {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--navyblue);
  letter-spacing: 0.02em
}

.sectionfour-list {
  display: flex;
  gap: 24px;
}

.team-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--white);
}

.team-container {
  padding: 32px 0;
}


.features-team-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.sectionfour-p-text {
  margin-bottom: 8px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-function);
}

.social-icon {
  fill: var(--cloud);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}


/* ----------------Fifth Section----------------*/


.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  color: var(--navyblue);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customets-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--lightslate);
  border-radius: 4px;
  color: var(--lightslate);
  transition: border-color var(--transition-dur) var(--transition-function), color var(--transition-dur) var(--transition-function);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--ocean);
  color: var(--ocean);
}

.customers-icon {
  fill: currentColor;
}

/* ----------------Footer----------------*/

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-container {
  margin-right: 120px;
}

.footer {
  padding: 100px 0;
  background-color: var(--navyblue);

}

.logo-bottom {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  line-height: 1.5;
  color: var(--cloud);
  letter-spacing: 0.02em;
}

.span-logo-bottom {
  color: var(--cloud);
}

.footer-socialmedia {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  gap: 16px;
}


.footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-function);
}



.footer-link:hover, 
.footer-link:focus {
  background-color: #31d0aa;
}


/*================== Footer form ==================*/


.footer-form-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-form-text {
  display: flex;
  gap: 24px;
}

.footer-form-container {
  padding-left: 80px;
}

.footer-form {
  display: flex;
  gap: 24px;
}


.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white);
}

#placeholder {
  color: var(--white);
}

.subscribebtn {
  min-width: 165px;
  height: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none; 
  border-radius: 4px; 
}

.footer-subscribe-icon {
  fill: var(--white);
  margin-left: 16px;
}

.subscribebtn:focus,
.subscribebtn:hover {
  background-color: var(--ocean);
}


/*================== Modal ==================*/


.modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  background: rgba(46, 47, 66, 0.40);
  transition-property: visibility, opacity, transform;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-function);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: absolute;
  padding: 72px 24px 24px 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #FCFCFC);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  
}

.close-backdrop {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--cornflower);
  transition-property: background-color, border ;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-function);
}

.cross {
  transition: fill var(--transition-dur) var(--transition-function);
}

.close-backdrop:hover {
  background-color: var(--ocean);
  border: none;
}

.close-backdrop:focus {
  background-color: var(--ocean);
  border: none;
}

.close-backdrop:hover .cross {
  fill: #ffffff;
}

.close-backdrop:focus .cross {
  fill: #ffffff;
}

.modal-title {
  margin-bottom: 16px;
  color: var(--navyblue, #2E2F42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.modal-field-wrap {
  margin-bottom: 8px;
}

.modal-field-wrap-comment {
  margin-bottom: 16px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17; 
  letter-spacing: 0.48px;
  color: var(--lightslate);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  color: var(--navyblue);
  font-size: 12px;
  outline: transparent;
  transition-property: border-color;
  transition: border-color var(--transition-dur) var(--transition-function);
}

.modal-input:focus + .modal-icon {
  fill: var(--iris);
}


.modal-input:focus {
  border-color: var(--iris);
}

.modal-input::placeholder {
  color: var(rgba(46, 47, 66, 0.40));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.modal-icon-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur) var(--transition-function);
}

.modal-comment {
  display: inline-block;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  color: rgba(46, 47, 66, 0.4); 
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent; 
  outline: transparent;
  transition: border-color var(--transition-dur) var(--transition-function);
}

.modal-comment:focus {
  border-color: var(--iris);
}

.modal-comment::placeholder {
  color: var(rgba(46, 47, 66, 0.40));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

.privacy-wrap {
  position: relative;
  margin-bottom: 24px; 
}

.privacy-link {
  color: var(--iris);
}

.input-checkbox {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
}



.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.40);
  transition: background-color var(--transition-dur) var(--transition-function), border var(--transition-dur) var(--transition-function), fill var(--transition-dur) var(--transition-function);
}

.checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--lightslate)
}

.checkbox-icon {
  opacity: 0;
  visibility: hidden;
}

.input-checkbox:checked + .checkbox-label > .checkbox-span{
  background-color: var(--ocean);
  border: none;
  fill: var(--cloud);
}


.send-button-modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
  background-color: var(--iris);
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition-dur) var(--transition-function);
}

.input-checkbox:checked + .checkbox-label .checkbox-icon {
  opacity: 1;
  visibility: visible;
}

/* ----------------Portfolio----------------*/


.title-button {
  font-family: inherit;
  background-color: var(--iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  cursor: pointer;
}



.main-portfolio-section {
  padding-top: 96px; padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}



.list-button {
  padding: 12px 24px;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  font-family: inherit;
  background-color: var(--cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--iris);
  cursor: pointer;
  transition:  color var(--transition-dur) var(--transition-function), background-color var(--transition-dur) var(--transition-function), border-color var(--transition-dur) var(--transition-function), box-shadow var(--transition-dur) var(--transition-function);
}

.list-button:hover,
.list-button:focus {
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--ocean);
  color: var(--white);
}

.portfolio-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: var(--transition-dur);
  transition-timing-function: var(--transition-function);
}

.portfolio-pic {
  position: relative;
  overflow: hidden;
}

.portfolio-pic-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-dur) var(--transition-function);
  height: 100%;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
}

.portfolio-link:hover .portfolio-pic-text,
.portfolio-link:focus .portfolio-pic-text {
  transform: translateY(0%);
}


.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}




.list-portfolio {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.list-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.portfolio-second-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-second-list-item {
  width: calc((100% - 48px) / 3);
}


.portfolio-item-container {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}