.features-icon-container {
  display: none;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.features-title {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}



/* .section-second {
  padding: 120px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cloud);
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
}


.features-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
} */